<h1>About Alpha Blog </h1>

 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ad quae dolorum, minus consequuntur vel fugit dicta ullam laudantium\
 iure vero odit, minima esse rerum cupiditate veritatis voluptate exercitationem inventore.</p>


<%= link_to 'Home', root_path %>