<h1>This is the homepege of AlphaBlog </h1>

<%= image_tag 'caracol.jpg' %>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ad quae dolorum, minus consequuntur vel fugit dicta ullam laudantium\
 iure vero odit, minima esse rerum cupiditate veritatis voluptate exercitationem inventore.</p>

 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ad quae dolorum, minus consequuntur vel fugit dicta ullam laudantium\
 iure vero odit, minima esse rerum cupiditate veritatis voluptate exercitationem inventore.</p>


<%= link_to 'About', about_path %>